<div class="home-page">  
    <h2>Welcome to Game Review Site!</h2>
    <p>Game Review Site is a place where you can read and write reviews for your favorite games.</p>
    <p>Click on the Games tab to see a list of games that have been reviewed.</p>
    <p>Click on the Add Game tab to add a game to the list.</p>
    <p>Click on the Chat tab to chat with other users.</p>
</div>