<form action="/users/login" method="post">
    <h2>Login:</h2>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Password" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>